/* src/pages/LoginPage.css */
.login-page {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-img {
    max-width: 80%;
    max-height: 80%;
}

.right-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-section h2 {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.create-account-btn {
    width: 100%;
    padding: 10px;
    background-color: #de504a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.google-login-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
    justify-content: center;
}

.google-login-btn img {
    margin-right: 10px;
}

.login-text {
    font-size: 14px;
}

.login-text a {
    color: #de504a;
    text-decoration: none;
}